@import '~@/src/styles/_var.less';

.site-item {
  margin: 10px;

  &-row {
    .ri-close-line,
    .ri-pencil-line,
    .ri-magic-line,
    .ri-magic-fill {
      cursor: pointer;
      opacity: 0;
      padding-left: 8px;
      transition: all 0.1s ease;
    }
    .ri-close-line:hover {
      transform: scale(1.5);
      color: @color_yellow;
    }
    .ri-pencil-line:hover {
      transform: scale(1.5);
      color: @color_green;
    }
    .ri-magic-line:hover {
      transform: scale(1.5);
      color: @color_blue;
    }
    .ri-magic-fill:hover {
      transform: scale(1.5);
      color: @color_red;
    }
    &:hover {
      .ri-close-line,
      .ri-pencil-line,
      .ri-magic-line,
      .ri-magic-fill {
        opacity: 1;
      }
    }

    &-url {
      &:hover {
        transition: all 0.1s ease;
        color: @color_primary;
      }
    }
  }
}
